#loginUsername {
  transform: translateZ(0);
  outline: 0;
  width: 500px;
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.2s ease-in-out;
  height: 18px;
  padding: 22px 12px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fcfcfb;
}

#loginPassword {
  transform: translateZ(0);
  outline: 0;
  width: 500px;
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.2s ease-in-out;
  height: 18px;
  padding: 22px 12px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fcfcfb;
  margin-top: 24px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 100px;
  width: 800px;
  margin-left: 300px;
}

.signup-link {
  text-decoration: none;
}

.signin-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 20px 0;
}

/* .username-text-input {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 14px;
  left: 12px;
  color: rgb(165, 164, 164);
  text-transform: uppercase;
  transform: translateZ(0px);
  transform-origin: 0px 50%;
  pointer-events: none;
  line-height: 23px;
  transition: all 0.2s ease-in-out 0s;
} */
