#loginUsername {
  width: 500px;
  height: 18px;
  padding: 22px 12px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fcfcfb;
}

#loginPassword {
  width: 500px;
  height: 18px;
  padding: 22px 12px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fcfcfb;
  margin-top: 24px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 100px;
  width: 800px;
  margin-left: 300px;
}

.signup-link {
  text-decoration: none;
}

.signin-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 20px 0;
}
