.post-container {
  display: flex;
  flex-wrap: wrap;
}

.post-field {
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  width: 548px;
  padding: 10px 0 10px 10px;
}

.post-field:hover {
  border: 1px solid #016400;
  background-color: white;
}

.voting-field {
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 5px;
  width: 60px;
  background-color: #f8f9fa;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding: 8px 4px 8px 0;
  /* position: absolute; */
  top: 0;
}

.post-title {
  color: rgb(26, 26, 27);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding-right: 5px;
}

.post-comments {
  color: #787c7e;
}

.post-subribbit {
  font-size: 12px;
  font-weight: 700;
  color: rgb(28, 28, 28);
  line-height: 20px;
}

.post-ribbitor,
.post-creation {
  color: rgb(120, 124, 126);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 20px;
}

.post-ribbitor:hover {
  text-decoration: none;
}

.post-ribbitor:hover .ribbitor-link {
  text-decoration: underline;
}

.chat-icon {
  width: 20px;
  height: 18px;
  padding-right: 10px;
}

.croak-button {
  padding: 0;
  border: none;
  background: none;
}

.upcroak,
.downcroak {
  width: 20px;
  height: 20px;
}

.upcroak:hover,
.downcroak:hover {
  border: 1px solid green;
}
