/*
* === DARK MODE ===
*/

#dark-mode {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.darkmode-text {
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: white;
}

/*
* === DARK MODE ===
*/

#last-dropdown-link {
  border-radius: 0 0 5px 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #016400;
  height: 80px;
  text-align: center;
  font-size: 40px;

  /* the code below allows the navbar to stick to the top of the page as the user scrolls */
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navbar-container {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
}

.icon-label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.navbar-form {
  position: relative;
  padding-top: 20px;
}

.logo {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}

.frog {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}

.search-container {
  border: 1px solid lightslategrey;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.search-bar {
  background-color: rgb(246, 247, 248);
  box-shadow: none;
  color: rgb(28, 28, 28);
  display: block;
  height: 36px;
  width: 100%;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(237, 239, 241);
  border-image: initial;
  outline: none;
  padding: 0px 16px 0px 40px;
  font-size: 16px;
}

.user-profile-container {
  padding-right: 50px;
  padding-top: 10px;
}

.user-profile-avatar {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

.user-dropdown {
  padding-top: 20px;
  padding-right: 40px;
}

.user-profile-icon {
  width: 20px;
  height: 20px;
}

.down-arrow {
  width: 20px;
  height: 20px;
}

.user-profile-button {
  border-radius: 5px;
}

.user-profile-name {
  font-weight: bold;
  font-size: 15px;
}

.login-logout-signup {
  width: 256px;
  height: 32px;
  padding-top: 22px;
}

.login,
.signup {
  width: 120px;
  height: 32px;
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  fill: black;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
  padding: 3px 16px;
  border-color: black;
}

.signup {
  margin-left: 12px;
}

.search-container:hover {
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(46, 0, 211);
  border-image: initial;
}

.dark-mode {
  background-color: #030303;
}

.show {
  display: block;
}

.nav-dropdown-menu {
  border: 2px solid darkslategray;
  border-radius: 5px;
  background: #016400;
  width: 200px;
  background-color: white;
  border-radius: 5px 5px 0 0;
}

.nav-dropdown-menu:hover {
  border: 2px solid black;
  border-radius: 5px 5px 0 0;
}

.dropdown-links-container {
  background-color: white;
  padding-top: 4px;
  border: 2px white solid;
}

.dropdown-links-container:hover {
  /* height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: black; */
  padding-top: 4px;
  border: 2px black solid;
}

.dropdown-links {
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: white;
  padding-top: 4px;
  border: 2px white solid;
}

.dropdown-links:hover {
  padding-top: 4px;
  border: 2px black solid;
}

.dropdown-spacing {
  background-color: white;
}

.nav-popular {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  background-color: #f2f2f2;
  margin-top: 20px;
}

.nav-popular-text {
  margin-top: 10px;
  font-size: 16px;
  float: left;
  padding-left: 10px;
}

.popular-arrow {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  padding-top: 10px;
  float: left;
}
