.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: green;
  height: 80px;
  text-align: center;
  font-size: 40px;
}

.navbar-form {
  position: relative;
  padding-top: 20px;
}

.logo {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}

.frog {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}

#fly {
  height: 15px;
  width: 15px;
}

.search-container {
  /* display: inline-flex; */
  /* flex: 1 1 300px; */
  border: 1px solid lightslategrey;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.search-bar {
  font-size: 20px;
  border: none;
}

.user-profile-container {
  /* float: right; */
  padding-right: 50px;
  /* padding-bottom: 100px; */
  padding-top: 10px;
  /* height: 100%; */
  /* position: relative; */
}

.user-profile-avatar {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

.user-profile-button {
  border-radius: 5px;
}

.user-profile-name {
  font-weight: bold;
  font-size: 15px;
}
