html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

.dark-mode {
  background-color: #030303;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.side-bar {
  display: flex;
  flex-direction: column;
}

.join-the-discussion {
  background-color: rgb(3, 46, 94);
  background-size: contain;
  position: relative;
  width: 500px;
  margin-bottom: 8px;
  background-image: url(https://www.redditstatic.com/desktop2x/img/banner/banner-welcome@2x.png);
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px;
  padding: 16px;
}

.join-the-discussion-title {
  line-height: 26px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: bold;
}

.join-the-discussion-description {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(255, 255, 255);
  display: block;
  padding-top: 4px;
}

.become-a-ribbitor {
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  fill: rgb(255, 255, 255);
  background-color: rgb(0, 121, 211);
  color: rgb(255, 255, 255);
  display: inline-block;
  max-height: 32px;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
  padding: 3px 16px;
  border-color: rgb(0, 121, 211);
  margin: 8px 0px 0px;
}

.become-a-ribbitor:hover {
  background-color: rgb(95, 153, 207);
  color: rgb(255, 255, 255);
  border-color: rgb(95, 153, 207);
}
