.premium-side-bar {
  height: 100px;
  width: 312px;
  border: 1px grey solid;
  border-radius: 5px;
  float: right;
  margin-right: 200px;
  margin-top: 50px;
  background-color: white;
}

.premium-side-bar-body {
  display: flex;
  align-items: center;
}

.premium-side-bar-padding {
  /* border: 5px black solid;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: 229px;
  width: 300px; */
  padding: 12px;
}

.home-side-bar-home-text {
  margin-left: 50px;
  font-size: 20px;
}

.home-side-bar-body-text {
  font-size: 15px;
  margin-bottom: 1em;
}

.home-side-bar-get-premium {
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: rgb(0, 121, 211);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  display: block;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
  padding: 3px 16px;
  border-color: rgb(0, 121, 211);
}

.route-links {
  font-size: 14px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  margin-left: 10px;
}

.lilypad {
  width: 40px;
  height: 40px;
}

.try-premium-button {
  width: 70px;
  height: 28px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background: #431888;
  border-radius: 5px;
  color: white;
}
